body{
    background-color: rgb(136, 208, 199);
    
    
}
h1{
    font-family:cursive;
    font-size: 50px;
    color: rgb(31, 31, 129);
}
.p1{
    color: rgb(124, 194, 128);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top:-35px;
    
}





.container{
    background-color: white;
    margin-top:20px;
    width: 700px;
    text-align: center;
    align-self: center;
    margin-left:460px;
     
   
   

}

.tropical{
    width: 600px;
    height:400px;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    

}
.seperation1{
    font-weight: bold;
    color: rgb(169, 69, 69);
}
.sunset{
    width:600px ;
    height:400px ;

}
.images{
    width:250px;
    height: 150px;
    display:flex;
    flex-direction:column;
    padding-left:100px;
   
    
}
.title{
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family:Arial, Helvetica, sans-serif ;
    display: inline-block;
    vertical-align: top;
    padding-left:200px;
    margin-bottom:-60px;
   
}
.paragraph1{
    font-family:Arial, Helvetica, sans-serif ;
    display: inline-block;
    vertical-align: top;
    padding-left:200px;
    margin-top:-120px;
    text-align:left ;
    margin-left: 100px;
}

.follow{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

.site-links{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 30px;

}

.intagram{
    height:4px;
}






















