.body{
    margin-top: 12px;
    height:55px;
    
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;


   


   
}

.factor-logo{
   background-color: black;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 38px;
   padding-left:160px ;
   padding-right:160px ;
   padding-top: 15px;
   padding-bottom:15px;
   
 
}

.paragragh{
    background-color: rgb(225, 213, 204);
    text-align: center;

}

.your{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;


}

.freebie-box{
   font-family:sans-serif;
   color:rgb(230, 182, 70);
   -webkit-text-stroke:3px black ;
   font-size:60px;
   margin-top: 0;
   margin-bottom: 0;
   text-align: center;

} 

.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    

}

.image1{
    width: 400px;
    margin-bottom: 20px;
    
}

.image2{
    width: 400px;
   
}

.share-button{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    border: none;
    width: 240px;
    padding:16px;
    text-align: center;
    margin: 70px;
}


.share-button:hover{
    background-color: rgb(59, 58, 58);

}

.note{
   width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:80px;
    
}

.infomation{
    background-color: black;
    width:400px;
    color:white;
    text-align: center;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 20px;
}

.free-box{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom:10px;
}

.free-box-info{

    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;

}

.number1{
  width:60px;
  height: 60px;
  border-radius: 40px;
  border:0;
  font-size: 30px;
  background-color: rgb(95, 199, 248);
  color: white;
}

.number2{
    width:60px;
    height: 60px;
    border-radius: 40px;
    border:0;
    font-size: 30px;
    background-color: rgb(107, 235, 102);
    color: white;
}

.number3{
    width:60px;
    height: 60px;
    border-radius: 40px;
    border:0;
    font-size: 30px;
    background-color: rgb(245, 85, 45);
    color: white;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.number-texts{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 60px;

}


.follow-us{
    background-color: rgb(225, 213, 204);
    padding-left:80px;
    padding-right:80px;
    text-align: center;
    background-color: rgb(225, 213, 204);
    padding-left:80px;
    padding-right:80px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top:0;
    padding-top: 16px;
    text-align: center;
}

.title{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 20px;

}

.site-links{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    padding-top: 30px;

}

.text1{
    font-size: 18px;
}
.text2{
    font-size: 18px;
}
.text3{
    font-size: 18px;
}